* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.custom-cursor {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none; /* Ensures the cursor doesn't interfere with underlying elements */
}

.rectangle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 60px;
  height: 60px;
  background-color: black;
  opacity: 0.1;
}

.circle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.1;
}

.btns-container {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  border-radius: 10px;
  border: 2px solid gray;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;
}

.btns-container button {
  padding: 0.5rem 1rem;
  background: whitesmoke;
  border-radius: 8px;
  border: 0;
  outline: none;
}

.btns-container button:hover {
  background-color: gray;
  cursor: pointer;
}
